@import url('http://fonts.cdnfonts.com/css/tt-commons');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
                

#container {
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);

    background-color: none !important;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
}

#bg {
    position: absolute;
    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;

    width: 100%;
}

#registerMenu {
    z-index: 0;
    position: absolute;
    transform: translate(-50%, -50%);

    background-color: rgb(34, 34, 34);
    box-shadow: 0px 0px 1.3vh rgb(34, 34, 34, 0.8);

    top: 50%;
    left: 50%;

    width: 60vh;
    height: 55vh;
    
    border-radius: 0.5vh;

    transition: all 0.3s ease;
}

#ServerName {
    position: absolute;
    transform: translate(-50%, -50%);

    top: 2vh;
    left: 50%;

    font-size: 3.6vh;

    color: white;

    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;

    transition: all 0.3s ease;
}

#Information {
    position: absolute;
    transform: translate(-50%, -50%);

    top: 7vh;
    left: 50%;

    font-size: 2.1vh;

    color: rgb(197, 197, 197);

    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;

    transition: all 0.3s ease;
}

#user {
    position: absolute;
    transform: translate(-50%, -50%);

    color: white;

    top: 17vh;
    left: 16.4vh;
    font-size: 1.8vh;

    transition: all 0.3s ease;
}

#vorname {
    position: absolute;
    transform: translate(-50%, -50%);

    width: 28vh;
    height: 3.4vh;

    background: none;
    top: 17vh;
    left: 50%;
    font-size: 1.7vh;
    border: 0.2vh var(--firstname-border-colour) solid;
    border-radius: 5vh;
    font-family: "Gilroy-Regular";
    font-style: normal;
    font-weight: 400;
    color: white;
    padding-left: 4.2vh;
    transition: all 0.3s ease;
}

#vorname:focus{
    outline: none;
}

#vorname:hover {
    border-radius: 0.5vh;
}

#nachname {
    position: absolute;
    transform: translate(-50%, -50%);

    width: 28vh;
    height: 3.4vh;

    background: none;
    top: 23vh;
    left: 50%;
    font-size: 1.7vh;
    border: 0.2vh var(--lastname-border-colour) solid;
    border-radius: 5vh;
    font-family: "Gilroy-Regular";
    font-style: normal;
    font-weight: 400;
    color: white;
    padding-left: 4.2vh;
    transition: all 0.3s ease;
}

#nachname:focus{
    outline: none;
}

#nachname:hover {
    border-radius: 0.5vh;
}

#user2 {
    position: absolute;
    transform: translate(-50%, -50%);

    color: white;

    top: 23vh;
    left: 16.4vh;
    font-size: 1.8vh;

    transition: all 0.3s ease;
}

#date {
    position: absolute;
    transform: translate(-50%, -50%);

    width: 28vh;
    height: 3.4vh;

    background: none;
    top: 29vh;
    left: 50%;
    font-size: 1.7vh;
    border: 0.2vh var(--date-border-colour) solid;
    border-radius: 5vh;
    font-family: "Gilroy-Regular";
    font-style: normal;
    font-weight: 400;
    color: white;
    padding-left: 4.2vh;
    transition: all 0.3s ease;
}

#date:focus{
    outline: none;
}

#date:hover {
    border-radius: 0.5vh;
}

#dateIcon {
    position: absolute;
    transform: translate(-50%, -50%);

    color: white;

    top: 29vh;
    left: 16.4vh;
    font-size: 1.8vh;

    transition: all 0.3s ease;
}

#height {
    position: absolute;
    transform: translate(-50%, -50%);

    width: 8vh;
    height: 3.4vh;

    background: none;
    top: 35vh;
    left: 50%;
    font-size: 1.7vh;
    border: 0.2vh #0040ff solid;
    border-radius: 5vh;
    font-family: "Gilroy-Regular";
    font-style: normal;
    font-weight: 400;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
}

#height:focus{
    outline: none;
}

#height:hover {
    border-radius: 0.5vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Male {
    position: absolute;
    transform: translate(-50%, -50%);

    left: 32%;
    top: 39.6vh;

    width: 1.6vh;
    
    border: none;
    outline: none;
}

#MaleText {
    position: absolute;
    transform: translate(-50%, -50%);

    left: 40%;
    top: 38.18vh;

    color: white;
    font-family: "Gilroy-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vh;
}

#Female {
    position: absolute;
    transform: translate(-50%, -50%);

    left: 64%;
    top: 39.6vh;

    width: 1.6vh;

    border: none;
    outline: none;
}

#FemaleText {
    position: absolute;
    transform: translate(-50%, -50%);

    left: 58%;
    top: 38.18vh;

    color: white;
    font-family: "Gilroy-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vh;
}

#Erstellen {
    position: absolute;
    transform: translate(-50%, -50%);
    
    height: 6vh;
    width: 28vh;

    left: 50%;
    top: 46.6vh;

    color: white;

    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vh;

    border: none;
    border-radius: 5vh;
    
    background-color: var(--createButton-border-colour);

    transition: all 0.3s ease;

    cursor: pointer;
}

#Erstellen:hover {
    border-radius: 0.5vh;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

#warning {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;

    width: 42vh;
    height: 25vh;

    background-color: rgba(218, 0, 0);

    box-shadow: 0vh 0vh 5vh rgba(218, 0, 0, 0.424);

    cursor: pointer;
    transition: 0.5s;
}

#warning:hover {
    background-color: rgb(34, 34, 34);
    box-shadow: 0vh 0vh 5vh rgba(34, 34, 34, 0.424);
}

#warningText {
    position: absolute;
    transform: translate(-50%, -50%);

    text-align: center;

    top: 42%;
    left: 50%;

    color: white;
    font-family: "Gilroy-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
}